@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
body {
    background-color:rgb(132, 51, 74);
    color: white;
    font-family: 'Oxygen', sans-serif;
    margin: 0 auto ;
    width:900px ;
    

    
}

.Menu{

    display: flex;
    background-color: rb(123, 255, 0);
    margin-bottom: 100px;
    padding: 20px 0px 5px;
    font-size: 21px;
    justify-content:space-between;
    font-family: 'Oswald', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
    

}

#logo{
    padding-top: 20px;
    background-color:lue;
    width: 90px;

}

ul {

   list-style-type:none;
   
}
li{
    background-color: rown;
    display: table-cell;
    padding-right: 20px;
   
}
#corps {
    display: flex;
    text-align:justify;
    justify-content: space-between;

    
}

.date{
   
    opacity: 0.5;
    background-color: qua;
    width: 100px;

}

footer {
    margin-top: 500px;
}

.bas {
        opacity: 0.5;
}

hr {
    
    opacity: 0.5;
}